/*Modales Pedidos*/
.unif_modal .modal-header {
    display: inherit;
}

.unif_modal .modal-header .close {
    font-size: 21px;
    margin-top: -2px;
    padding: 0;
    margin: 0;
}
/*Modales Caja Aper*/
#detalle .modal-header {
    display: block!important;
}
#detalle .modal-header .close {
    font-size: 21px;
    margin-top: -2px;
    padding: 0;
    margin: 0;
}

.ibox .my-scroll{
    overflow: auto;
}

.ibox-content .my-scroll{
    overflow: auto;
}
#table-caja {
    width: 100%!important;
}
#table-alm {
    width: 100%!important;
}
#table-area {
    width: 100%!important;
}
/*Modales de Multimozo*/

.unif_header .modal-header{
    display: initial!important;
}
.unif_header .modal-header .close{
    font-size: 21px;
    margin-top: -2px;
    padding: 0;
    margin: 0;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}