.price-table {
    margin-top: 0px;
    margin-bottom: 0px;
}

.pricing-table {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*Card - Pricing*/

.card-pricing {
    padding-left: 60px;
    padding-right: 60px;
}